@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Vazir-Regular.ttf");
}
body {
    font-family: myFirstFont;
    direction: rtl;
}
